/* CSS for the layout */
body {
    margin: 0;
    padding: 0;
    display: flex;
}

.black-bar {
    width: 100px;
    background-color: black;
}

.white-bar {
    width: 200px;
    background-color: white;
}

.white-bar-1 {
    margin-top: 100px;
    width: 300px;
    background-color: white;
    padding: 20px;
    height: 100vh;
}


.main-content {
    flex-grow: 1;
    background-color: #f0f0f0; /* Light gray for the main content */
    padding: 20px; /* Add some padding for content */
}

.top-image {
    margin: 20px 0; /* Add space above and below the image */
    align-items: center;
}

    .top-image img {
        width: 50px; /* Set the width to 50px */
        height: 50px; /* Set the height to 50px */
        align-items: center;
    }

.icon-links {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Add some space between icons and text */
    align-items: center; /* Center the icons horizontally */
}

    .icon-links a {
        color: white; /* Set the text color to red */
        text-decoration: none;
        font-size: 14px; /* Smaller font size for the words */
        display: flex;
        flex-direction: column;
        align-items: center; /* Center text and icon vertically */
    }

        .icon-links a i {
            color: red; /* Set the icon color to red */
            font-size: 24px; /* Smaller font size for the icons */
        }

        .icon-links a:hover {
            color: #ccc; /* Change text color on hover */
        }

.white-bar {
    width: 200px;
    height: 100vh;
    background-color: white;
    text-align: Left;
    margin-top: 80px;
    margin-left: 20px;
}

    .white-bar a {
        color: red;
        display: block;
        margin-bottom: 10px; /* Add margin between links */
    }


.list-group-item.list-group-item-secondary a.text-danger {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 5px;
    color: black !important; /* Added this line to change the color to black */
    text-decoration: none; /* Added this line to remove the underline */
}

.list-unstyled li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.container {
    display: flex;
    flex-direction: row;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.header-container {
    background-color: #ccc; /* Gray background color for the header */
    padding: 10px; /* Add padding for spacing */
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Vertically center content */
    justify-content: space-between; /* Space between elements */
}

.element-container {
    background-color: white; /* Gray background color for the header */
    padding: 10px; /* Add padding for spacing */
    display: flex; /* Use flexbox for layout */
    align-items: center;
    align-content: flex-start;
    justify-content: space-between; /* Space between elements */
    border: solid;
