
/* index.css */

.home-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.module-list-container {
    flex: 1;
    margin-right: 20px;
}

.button-column {
    width: 200px;
    display: flex;
    flex-direction: column;
}

.home-button {
    background-color: #f2f2f2; /* Whitish grey */
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
    display: flex;
    align-items: center;
}

.button-icon {
    margin-right: 10px;
}
